@{
    Layout = "~/Shared/_Layout.cshtml";
}

<script>
    function ganaarevent() {
        var e = document.getElementById("eventkeuze");
        var keuze = e.options[e.selectedIndex].text;
        window.location.href = "LiveEvent.cshtml?Refcode=" + keuze;
    }
</script>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="accordion" id="accordionExample">
                    <div class="card border-dark">
                        <!-- HEADER VAN DE EERSTE CARD-->
                        <div class="card-header bg-dark" id="headingOne">
                            <h3 style=" color:white;">
                                404 PAGE NOT FOUND
                            </h3>
                        </div>
                        <!-- BODY VAN DE EERSTE CARD-->
                        <div id="SpelersAanpassen" aria-labelledby="headingOne">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-10">
                                        <p>Controleer of de ingevulde referentie juist is en probeer opnieuw</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="" aria-labelledby="headingOne">
                            <div class="card-body">
                                <div class="row">
                                        <select class="form-control" id="eventkeuze" onchange="ganaarevent()">
                                            @foreach (var refcode in Functie.GetAangemaakteRefcodes())
                                            {
                                                <option name="refcode" value="keuze">@refcode</option>
                                            }
                                        </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
