@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "PokerNight ~ De regels der poker";
}

<div class="container-fluid">
    <div class="row no-gutters">
        <p>Joo ga hier maar heen https://www.hetpokerspel.nl/spelregels</p>
    </div>
</div>