@{
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "PokerNight ~ Event aanmaken";

    var refcode = Request.QueryString["refcode"];
    if(IsPost && Request.Form["submit"] == "aanpassen")
    {
        Response.Redirect("~/Pages/Admin/LiveEventAanpassen.cshtml?refcode=" + refcode);
    }
    if (IsPost && Request.Form["submit"] == "live")
    {
        Response.Redirect("~/Pages/User/LiveEvent.cshtml?recode=" + refcode);
    }

}

<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-lg-10">
            <div class="accordion" id="accordionExample">
                <div class="card border-dark">
                    <!-- HEADER VAN DE EERSTE CARD-->
                    <div class="card-header bg-dark" id="headingOne">
                        <h5 style=" color:white;">
                            Het event aanmaken is gelukt! 
                        </h5>
                    </div>
                    <!-- BODY VAN DE EERSTE CARD-->
                    <div id="TafelIndeling" aria-labelledby="headingOne">
                        <div class="card-body">
                            <h1>
                                Het event aanmaken is gelukt!                           
                            </h1>
                            <p>De code om mensen uit te nodigen is: localhost:30349/Pages/User/LiveEvent.cshtml?refcode=<b>@refcode</b></p>
                            <form method="post">
                                <button type="submit" class="btn SucBtn btn-dark" name="submit" value="aanpassen">Klik hier om de sessie te starten of aan te passen</button>
                                <button type="submit" class="btn SucBtn btn-dark" name="submit" value="livesessie"> Klik hier om naar het gebruikers overzicht te gaan van de live sessie</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
