@{
    #region Nodige layout
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "PokerNight ~ Event aanmaken";
    #endregion

    if (IsPost && Request.Form["submit"] == "continue")
    {
        //var test = Request.Form["data"];

        //var rawBlinds = test;
        //var IsBlindsEmpty = test.Contains("Blinds\":[]");

        //var rawSpelers = test;
        //var IsSpelersEmpty = test.Contains("Spelers\":[],");

        //var rawFiches = test;
        //var IsFichesEmpty = test.Contains("Fiche\":[]");

        //if (IsBlindsEmpty || IsSpelersEmpty || IsFichesEmpty)
        //{
        //    Validation.AddFormError("Eén of meerdere waardes zijn helaas onjuist ingevuld, probeer het opnieuw!");
        //}
        //else if (IsSpelersEmpty)
        //{
        //    Validation.AddFormError("Controleer de spelers");
        //}
        //else if (IsFichesEmpty)
        //{
        //    Validation.AddFormError("Controleer de ingevulde fiches");
        //}
        //else
        //{
        if((string)Request.Form["verstoptekeuze"] != null)
        {
            Session["presetnaam"] = (string)Request.Form["verstoptekeuze"];
        }

        Session["json"] = Request["data"];
        Response.Redirect("~/Pages/Admin/ConfirmEvent.cshtml");
        //}
    }

}
<script>
    function Selecteerpreset() {
        var e = document.getElementById("presetkeuze");
        var keuze = e.options[e.selectedIndex].text;
        document.getElementById("verstoptekeuze").value = keuze;
    }
</script>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="accordion" id="accordionExample">
                <div class="card border-dark">
                    <!-- HEADER VAN DE EERSTE CARD-->
                    <div class="card-header bg-dark" id="headingOne">
                        <h5 style=" color:white;">
                            Spelers Toevoegen
                        </h5>
                    </div>
                    <!-- BODY VAN DE EERSTE CARD-->
                    <div id="SpelersToevoegen" aria-labelledby="headingOne">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h2>Spelers</h2>
                                    <p>Voer hier de voor- en achternaam in van de spelers die meedoen</p>
                                    <div class="input-group-prepend">
                                        <input type="text" class="form-control" id="voornaam" placeholder="Voornaam" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                        <input type="text" class="form-control" id="achternaam" placeholder="Achternaam" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"required>
                                        <button class="btn btn-dark" value="test" onclick="getpersondata('spelerstable');" style="width: 100%;" type="button" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">Persoon toevoegen</button>
                                    </div>
                                    <br />
                                    <p>Vul hier het aantal spelers in die aan één tafel passen. Hierdoor kan er een tafelindeling gegenereerd worden</p>

                                    <div class="input-group-prepend">
                                        <input type="text" class="form-control stored" id="maxAanTafel" placeholder="Aantal spelers aan 1 tafel" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <table class="table table-striped" id="mytable">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Voornaam</th>
                                                <th>Achternaam</th>
                                                <th id="aantalMensen">0</th>
                                            </tr>
                                        </thead>
                                        <tbody id="spelerstable"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-dark">
                    <!--HEADER VAN DE TWEEDE CARD-->
                    <div class="card-header bg-dark" id="headingTwo">
                        <h5 style=" color:white;">
                            Fiches toevoegen
                        </h5>
                    </div>
                    <!-- BODY VAN DE TWEEDE CARD-->
                    <div id="FichesToevoegen" aria-labelledby="headingTwo">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <h2>Fiches toevoegen</h2>
                                    <p>Voeg hier de fiches (waarde en kleur) toe, die tijdens het spel gebruikt worden</p>
                                    <div class="input-group">
                                        <div class="input-group-prepend" style="width:inherit;">
                                            <select class="form-control" id="kleurkeuze"required>
                                                <optgroup label="Kies een kleur">
                                                    <option value="black">Zwart</option>
                                                    <option value="blue">Blauw</option>
                                                    <option value="green">Groen</option>
                                                    <option value="orange">Oranje</option>
                                                    <option value="purple">Paars</option>
                                                    <option value="red">Rood</option>
                                                    <option value="white">Wit</option>
                                                    <option value="yellow">Geel</option>
                                                </optgroup>
                                            </select>
                                            <select class="form-control" id="waardekeuze"required>
                                                <optgroup label="Kies een waarde">
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                    <option value="200">200</option>
                                                    <option value="500">500</option>
                                                </optgroup>
                                            </select>
                                            <button class="btn btn-dark" onclick="_AddFiche(_GetFiche());" type="button" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">Toevoegen</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7" id="ficheHolder">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-dark">
                    <!--HEADER VAN DE DERDE CARD-->
                    <div class="card-header bg-dark" id="headingThree">
                        <h5 style=" color:white;">
                            Een blinds schema
                        </h5>
                    </div>
                    <!-- BODY VAN DE DERDE CARD-->
                    <div id="BlindSchema" aria-labelledby="headingThree">
                        <div class="card-body">
                            <div class="row">
                                <select id="presetkeuze">
                                    @foreach (string presetnaam in Functie.GetAangemaakteBlindPresets())
                                    {
                                        <option name="">@presetnaam</option>
                                    }
                                </select>
                                <button class="btn btn-dark" onchange="Selecteerpreset()" style="width:200px;" type="button">Kies preset</button>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-11">
                                    <div class="input-group">
                                        <input type="hidden" id="Rowcounter" value="0" required />
                                        <input type="number" class="form-control" id="SmallBlind" placeholder="Small blind start waarde" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                        <input type="number" class="form-control" id="BigBlind" placeholder="Big blind start waarde" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                    </div>
                                    <div class="input-group">
                                        <input type="number" step="0.1" class="form-control" id="BlindFactor" placeholder="Blind verhogingsfactor" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                        <input type="number" class="form-control" id="BlindDuratie" placeholder="Blind duratie in minuten" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                        <button class="btn btn-dark" onclick="getlastrowdata('blindtable','Blind');" style="width:200px;" type="button" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">Add blind</button>
                                    </div>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="PauzeDuratie" placeholder="Pauze duratie in minuten" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                        <button class="btn btn-dark" onclick="getlastrowdata('blindtable','Pauze');" style="width:200px;" type="button" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">Add pauze</button>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row justify-content-center">
                                <div class="col-11">
                                    <table class="table table-striped" id="mytable">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Blind/Pauze</th>
                                                <th>Small blind</th>
                                                <th>Big blind</th>
                                                <th>Duratie (mins)</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody id="blindtable"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-dark">
                    <!--HEADER VAN DE VIERDE CARD-->
                    <div class="card-header bg-dark" id="headingFour">
                        <h5 style=" color:white;"></h5>
                    </div>
                    <!-- BODY VAN DE VIERDE CARD-->
                    <div id="NextPage" aria-labelledby="headingFour">
                        <div class="card-body">
                            <div id="CheatCheet" aria-labelledby="headingFour">
                                <div class="card-body">
                                    <form method="post" id="dataForm">
                                        <input type="hidden" id="verstoptekeuze" name="verstoptekeuze" value="" />
                                        <input id="dataInput" type="hidden" name="data" value="a">
                                        <button name="submit" value="continue" class="btn btn-success btn-lg btn-block" onsubmit="_PostData()">Maak preview aan!</button>
                                    </form>
                                    <div style="color:red"><b> @Html.ValidationSummary()</b></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/DataToJSON.js" defer></script>