@{
    #region Nodige layout
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "PokerNight ~ Event aanmaken";
    #endregion

    string json = @"{
    'Spelers':[
           {'Voornaam':'Maurice','Achternaam':'Ponte'},
           {'Voornaam':'Geert','Achternaam':'Hagema'}, 
           {'Voornaam':'Tjeerd','Achternaam': 'van Gelder'}, 
           {'Voornaam':'Jan-Sietze','Achternaam': 'Hoekstra'}],
    'Fiche':[
           {'Kleur':'blue','Waarde':'10'},    
           {'Kleur':'white','Waarde':'20'},    
           {'Kleur':'green','Waarde':'100'},    
           {'Kleur':'red','Waarde':'200'},    
           {'Kleur':'black','Waarde':'500'}],
    'Blinds':[
           {'Ronde':'1','Pauze':'False','BigBlind':10,'SmallBlind':10,'Duratie':10},
           {'Ronde':'2','Pauze':'False','BigBlind':20,'SmallBlind':30,'Duratie':10},
           {'Ronde':'3','Pauze':'False','BigBlind':30,'SmallBlind':40,'Duratie':10},
           {'Ronde':'4','Pauze':'True','BigBlind':30,'SmallBlind':40,'Duratie':20},
           {'Ronde':'5','Pauze':'False','BigBlind':40,'SmallBlind':50,'Duratie':10},
           {'Ronde':'6','Pauze':'False','BigBlind':50,'SmallBlind':60,'Duratie':10}]
                  }";

    if (IsPost && Request.Form["submit"] == "submit")
    {

        Session["json"] = json;
        Response.Redirect("~/Pages/Admin/ConfirmEvent.cshtml");
    }

}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="accordion" id="accordionExample">
                <div class="card border-dark">
                    <!-- HEADER VAN DE EERSTE CARD-->
                    <div class="card-header bg-dark" id="headingOne">
                        <h5 style=" color:white;">
                            Spelers Toevoegen
                        </h5>
                    </div>
                    <!-- BODY VAN DE EERSTE CARD-->
                    <div id="SpelersToevoegen" aria-labelledby="headingOne">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Hier is het mogelijk om spelers toe te voegen.</h5>
                                    <br />
                                    <br />
                                    <form method="post">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Voornaam speler" name="inVoornaam" aria-label="Voornaam-speler" aria-describedby="basic-addon2" required>
                                            <input type="text" class="form-control" placeholder="Achternaam speler" name="inAchternaam" aria-label="Achternaam-speler" aria-describedby="basic-addon2" required>
                                            <div class="input-group-append">
                                                <button class="btn btn-dark" type="submit" id="button-addon2">Voeg speler toe!</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-striped">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Voornaam</th>
                                                <th>Achternaam</th>
                                            </tr>
                                        </thead>
                                        <tbody id=""></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-dark">
                    <!--HEADER VAN DE TWEEDE CARD-->
                    <div class="card-header bg-dark" id="headingTwo">
                        <h5 style=" color:white;">
                            Fiches toevoegen
                        </h5>
                    </div>
                    <!-- BODY VAN DE TWEEDE CARD-->
                    <div id="FichesToevoegen" aria-labelledby="headingTwo">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <h2>Fiches toevoegen</h2>
                                        </div>
                                        <div class="input-group-prepend">
                                            <select id="kleurkeuze">
                                                <option value="kleurkiezen">Kies een kleur</option>
                                                <option value="black">Zwart</option>
                                                <option value="blue">Blauw</option>
                                                <option value="green">Groen</option>
                                                <option value="orange">Oranje</option>
                                                <option value="purple">Paars</option>
                                                <option value="red">Rood</option>
                                                <option value="white">Wit</option>
                                                <option value="yellow">Geel</option>
                                            </select>
                                            <select id="waardekeuze">
                                                <option value="waardekiezen">Kies een waarde</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="200">200</option>
                                                <option value="500">500</option>
                                            </select>


                                            <button class="btn btn-dark" onclick="addfiche();" style="width: 20%;" type="button" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">Fiche toevoegen</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <table class="table table-striped" id="mytable">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Fiches</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="fiches"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-dark">
                    <!--HEADER VAN DE DERDE CARD-->
                    <div class="card-header bg-dark" id="headingThree">
                        <h5 style=" color:white;">
                            Een blinds schema
                        </h5>
                    </div>
                    <!-- BODY VAN DE DERDE CARD-->
                    <div id="BlindSchema" aria-labelledby="headingThree">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-11">
                                    <div class="input-group">
                                        <input type="hidden" id="Rowcounter" value="0" />
                                        <input type="number" class="form-control" id="SmallBlind" placeholder="Small blind start waarde" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                        <input type="number" class="form-control" id="BigBlind" placeholder="Big blind start waarde" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                    </div>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="BlindFactor" placeholder="Blind verhogingsfactor" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                        <input type="number" class="form-control" id="BlindDuratie" placeholder="Blind duratie in minuten" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                        <button class="btn btn-dark" onclick="getlastrowdata('blindtable','Blind');"style="width:200px;" type="button" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">Add blind</button>
                                    </div>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="PauzeDuratie" placeholder="Pauze duratie in minuten" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                        <button class="btn btn-dark" onclick="getlastrowdata('blindtable','Pauze');" style="width:200px;" type="button" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">Add pauze</button>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row justify-content-center">
                                <div class="col-11">
                                    <table class="table table-striped" id="mytable">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Blind/Pauze</th>
                                                <th>Small blind</th>
                                                <th>Big blind</th>
                                                <th>Duratie (mins)</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody id="blindtable"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-dark">
                    <!--HEADER VAN DE VIERDE CARD-->
                    <div class="card-header bg-dark" id="headingFour">
                        <h5 style=" color:white;">                
                        </h5>
                    </div>
                    <!-- BODY VAN DE VIERDE CARD-->
                    <div id="NextPage" aria-labelledby="headingFour">
                        <div class="card-body">
                            <div id="CheatCheet"  aria-labelledby="headingFour">
                                <div class="card-body">
                                    <form method="post">
                                        <button type="submit" name="submit" value="submit" class="btn btn-success btn-lg btn-block"> Maak preview aan! </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/DataToJSON.js" defer></script>