@{
    #region Nodige layout
    Layout = "~/Shared/_Layout.cshtml";
    Page.Title = "PokerNight ~ Admin login succes";
    #endregion

    if (IsPost && Request.Form["submit"] == "LiveEvent")
    {
        var refcode = Request.Form["refcode"];
        Session["refcode"] = refcode;

        if (Functie.CheckRefcode(refcode))
        {
            Response.Redirect($"~/Pages/Admin/LiveEventAanpassen.cshtml");
        }
        else
        {
            Validation.AddFormError("De opgegeven referentie bestaat niet");
        }
    }


}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="accordion" id="accordionExample">
                <div class="card border-dark">
                    <!-- HEADER VAN DE EERSTE CARD-->
                    <div class="card-header bg-dark" id="headingOne">
                        <h5 style=" color:white;">
                            Welkom beheerder, maak hier uw keuze
                        </h5>
                    </div>
                    <!-- BODY VAN DE EERSTE CARD-->
                    <div id="SpelersAanpassen" aria-labelledby="headingOne">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Indien u een nieuw event wilt starten, kunt u op deze knop drukken.</p>
                                </div>
                                <div class="col-md-6">
                                    <p>Selecteer de referentie code van het event dat u wilt aanpassen</p>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-md-6 "style="margin-top: 54px";>
                                    <form action="~/Pages/Admin/CreateEvent.cshtml" method="post">
                                        <button id="btnEvent" class="btn btn-primary" type="submit" name="submit" value="NieuwEvent">Maak een nieuw event aan!</button>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form method="post">
                                        <select>
                                            @foreach (string refcode in Functie.GetAangemaakteRefcodes())
                                            {
                                                <option name="refcode" value="@refcode">@refcode</option>
                                            }
                                        </select>
                                        <div style="color: red"><b> @Html.ValidationSummary()</b></div>
                                        <button id="btnEvent" class="btn btn-primary" type="submit" name="submit" value="LiveEvent">Pas een live event aan!</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


