<div class="header sticky-top">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            <img src="~/Images/LogoMakr_6emYM9.png" width="120" height="60" class="d-inline-block align-top" alt="Logo">
        </a>
    </nav>
</div>