<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script defer src="~/Scripts/jquery-3.3.1.js"></script>
    <script defer src="~/Scripts/popper.js"></script>
    <script defer src="~/Scripts/bootstrap.js"></script>

    <title>@Page.Title</title>
    @RenderSection("head", required: false)


    <style>
        .bg {
            background-image: url(/Images/aditya-chinchure-709017-unsplash4.jpg);
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position:center;

        }
        .card{
            color:white;
        }

        .table {
            color: black;
        }
    </style>
</head>

<body class="bg">
    <!-- Header-->
    <div class="header">
        <nav class="navbar bg-dark text-white">
            <a class="navbar-brand">
                <img src="~/Images/logos/Pokernight.png" width="150" height="100" class="d-inline-block align-top" alt="Logo">
            </a>
        </nav>
    </div>
    <!-- Niet aan zitten -->
    @RenderBody()
    <!--Footer-->
    <div class="modal-footer sticky-bottom bg-dark text-white">

        <!-- Temporary links to admin and back-->
        <a href="~/Pages/Admin/Login.cshtml">Admin login</a>
        <a href="~/Pages/Admin/CreateEvent.cshtml">Spel aanmaken</a>
        <a href="~/Pages/Admin/ConfirmEvent.cshtml">Preview spel aanmaken</a>
        <a href="~/Pages/Admin/AanmakenEventSucces.cshtml">Event aanmaken succes</a>
        <a href="~/Pages/Admin/LiveEventAanpassen.cshtml">Live event aanpassen</a>
        <a href="~/Pages/User/LiveEvent.cshtml">Live event</a>
        <a href="~/Pages/User/PokerRules.cshtml"></a>


        <a target="_blank" rel="noopener noreferrer" href="https://tres.nl/">
            <img class="rounded float-right" src="~/Images/logos/TRES.png" alt="Tres Logo">
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.nhlstenden.com/">
            <img class="rounded float-right" height="80" width="120" src="~/Images/logos/nhl_stenden.png" alt="Tres Logo">
        </a>
    </div>
</body>
</html>
