<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script defer src="~/Scripts/jquery-3.3.1.js"></script>
    <script defer src="~/Scripts/umd/popper.js"></script>
    <script defer src="~/Scripts/bootstrap.js"></script>

    <!-- Font Awesome Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>@Page.Title</title>
    @RenderSection("head", required: false)


    <style>
        .body {
            margin-bottom: 130px; /*Prevents footer from covering content*/
        }

        /*.card-body {
            background: rgba(0, 0, 0, 0.2);
        }*/

        .logrow.is-flex {
            display: flex;
            flex-wrap: wrap;
            margin-left: 4%;
            margin-right: 4%;
        }

<<<<<<< Updated upstream
            .logrow.is-flex > [class*='col-'] {
                display: flex;
                flex-direction: column;
            }
=======
        .row.is-flex > [class*='col-'] {
            display: flex;
            flex-direction: column;
        }
>>>>>>> Stashed changes


        .is-flex .box {
            background-color: blue;
            position: static;
        }

        .is-flex [class*="col-"] {
            background: rgb(52, 58, 64);
            padding: 2%;
        }
        .logrow {
            background: rgb(52, 58, 64);
            padding-left: 5%;
        }
            
        .bg {
            background-image: url(/Images/aditya-chinchure-709017-unsplash4.jpg);
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        .card {
            color: black;
        }

        .GoBtn {
            width: 100%;
            height: 50px;
        }

        .DelBtn:hover {
            color: red;
        }

        .btn {
            color: white;
            font-style: oblique;
            font-size: large;
        }

        .table {
            color: black;
        }

        #btnEvent {
            width: 100%;
            height: 100px;
        }

        .jumbotron {
            width: 100%;
            height: 125px;
            padding: 1%;
            color: white;
            background-color: #3dat43a4;
        }

        .btnSucces {
            background-color: #0e4ed6;
            border-color: #0e4ed6;
<<<<<<< Updated upstream
            font-family: Courier New, Courier, monospace font-style: oblique;
=======
            font-style: oblique;
>>>>>>> Stashed changes
            font-size: large;
            color: white;
        }
    </style>
</head>

<body class="bg">
    <!-- Header-->
    <div class="header">
        <nav class="navbar navbar-light bg-transparent">
            <a class="navbar-brand">
                <img src="~/Images/logos/Pokernight.png" width="150" height="100" class="d-inline-block align-top" alt="Logo">
            </a>
        </nav>
    </div>
    <!-- Niet aan zitten -->
    @RenderBody()
    <!--Footer-->
    <div class="modal-footer fixed-bottom bg-dark text-white">

        <!-- Temporary links to admin and back-->
        <a href="~/Pages/Admin/Login.cshtml">Admin login</a>
        <a href="~/Pages/Admin/CreateEvent.cshtml">Spel aanmaken</a>
        <a href="~/Pages/Admin/ConfirmEvent.cshtml">Preview spel aanmaken</a>
        <a href="~/Pages/Admin/AanmakenEventSucces.cshtml">Event aanmaken succes</a>
        <a href="~/Pages/Admin/LiveEventAanpassen.cshtml">Live event aanpassen</a>
        <a href="~/Pages/User/LiveEvent.cshtml?refcode=test">Live event</a>
        <a href="~/Pages/User/PokerRules.cshtml"></a>

        <a target="_blank" rel="noopener noreferrer" href="https://tres.nl/">
            <img class="rounded float-right" src="~/Images/logos/TRES.png" alt="Tres Logo">
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.nhlstenden.com/">
            <img class="rounded float-right" height="80" width="120" src="~/Images/logos/nhl_stenden.png" alt="Tres Logo">
        </a>
    </div>
</body>
</html>
