.body {
    margin-bottom: 130px; /*Prevents footer from covering content*/
}

.logrow.is-flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
    margin-right: 4%;
}

    .logrow.is-flex > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.is-flex .box {
    background-color: blue;
    position: static;
}

.is-flex [class*="col-"] {
    background: rgb(52, 58, 64);
    padding: 2%;
}

.logrow {
    background: rgb(52, 58, 64);
    padding-left: 5%;
}

.bg {
    background-image: url(/Images/aditya-chinchure-709017-unsplash4.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card {
    color: black;
}

.GoBtn {
    width: 100%;
    height: 50px;
}

.DelBtn:hover {
    color:red !important;
}

.btn {
    color: white;
    font-style: oblique;
    font-size: large;
}

.table {
    color: black;
}

#btnEvent {
    width: 100%;
    height: 100px;
}

.jumbotron {
    width: 100%;
    height: 125px;
    padding: 1%;
    color: white;   
}

.btnSucces {
    background-color: #0e4ed6;
    border-color: #0e4ed6;
    font-family: Courier New, Courier, monospace font-style: oblique;
    font-style: oblique;
    font-size: large;
    color: white;
}

.SucBtn {
    width: 100%;
    height: 50px;
    font-size: large;
}

.xllg  {
    padding: 18px 28px;
    font-size: 55px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.accordion {
    margin-bottom: 140px;
}

.blindhead {
    overflow: hidden;
}

.info {
    font-size: medium;
}

.blindstitle {
    float: left;
    margin-right: 20px;
}

.tooltipp {
    position: absolute;
    display: inline-block;
}

    .tooltipp .tooltiptext {
        visibility: hidden;
        width: 300px;
        background-color: #555;
        color: #fff;
        font-size: medium;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        top: 125%;
        left: 50%;
        margin-left: 0px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltipp:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

.blindbtn .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    font-size: medium;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.blindbtn:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
